.Article {
	opacity: 1;
}

@media only screen and (min-width: 768px) {
	.Article > div {
		transition: box-shadow 0.3s;
	}

	.Article > div:hover {
		-webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
	}
}
